/* mainStyle.css */
body {
    background-image:url('../media/costmos.gif');
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.container {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-20%, -30%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 0;
}

.title {
  position: absolute;
  width: 800px;
  left: 0;
  top: 200px;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Roboto Light', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: top .5s ease;
}

.container:hover .title {
  display: none;
}

.button1 {
  position: absolute;
  width: 800px;
  left:0;
  /*font-family: 'Roboto Light', sans-serif;*/
  top: 200px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button2 {
  position: absolute;
  width: 800px;
  left:0;
  top: 280px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button3 {
  position: absolute;
  width: 800px;
  left:0;
  top: 360px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button1 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Roboto Light', sans-serif;
  color: black;
  border: solid 8px black;
  z-index: 1;
}

.button2 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Roboto Light', sans-serif;
  color: black;
  border: solid 8px black;
  z-index: 1;
}

.button3 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Roboto Light', sans-serif;
  color: black;
  border: solid 8px black;
  z-index: 1;
}

.container:hover .button1 {
  opacity: 1;
}

.container:hover .button2 {
  opacity: 1;
}

.container:hover .button3 {
  opacity: 1;
}